#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background: url('/src/assets/bg1.png') center/cover no-repeat;
  ;
}

.no-bullets-ul {
  list-style: none;
  /* remove bullet points */
  margin: 0;
  /* reset default margins */
  padding: 0;
  /* reset default padding */
}
.no-bullets-ul li span:first-of-type {
  margin-right: 2rem;
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}